@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  direction: rtl;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.abouthead::before {
  content: "";
  height: 100%;
  width: 10px;
  margin-right: 10px;
  background-color: aquamarine;
}
